doctype
html(lang="zh-cmn-Hans")
	head
		include ./../public/head.jade
		title register
		link(rel="stylesheet", href="./../../style/css/register/register.css")
	body
		include ./../public/header.jade
		
		form(action="",method="post",accept-charset="utf-8",name="register",class="register")
			p
				label(for="username")用户名：
				input(type="text",name="username",placeholder="请填写您的用户名",id="username")
			p
				label(for="password")密码：
				input(type="password",name="password",placeholder="请填写您的密码",id="password")
			p
				label(for="confirm-pwd")确认密码：
				input(type="password",name="confirm-pwd",placeholder="请确认您的密码",id="confirm-pwd")
			input(type="submit",name="submit",value="提交",id="submit")

		include ./../public/footer.jade
