doctype
html(lang="zh-cmn-Hans")
	head
		include ./../public/head.jade
		title entry
		link(rel="stylesheet", href="./../../style/css/entry/entry.css")
	body
		include ./../public/header.jade
		
		form(action="/entry/ent",method="post",accept-charset="utf-8",name="entry",class="entry")
			p
				label(for="username")用户名：
				input(type="text",name="username",placeholder="请填写您的用户名",id="username")
			p
				label(for="password")密码：
				input(type="password",name="password",placeholder="请填写您的密码",id="password")
			input(type="submit",name="submit",value="提交",id="submit",class="submit")

		include ./../public/footer.jade
