doctype
html(lang="zh-cmn-Hans")
	head
		include ./../public/head.jade
		title index
		link(rel="stylesheet", href="./../../style/css/index/index.css")
	body
		include ./../public/header.jade
		
		main.content
			ul
				li
					a(href="02",target="_blank")文章02
				li 
					a(href="01",target="_blank")文章01
		
		include ./../public/footer.jade
